services:
  web:
    build: .
    container_name: nextjs-eproba-web
    ports:
      - "3000:3000"
    env_file:
      - ./stack.env
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
