{% extends 'core/base.html' %}
{% block title %}Zarządzaj {{ patrol.name }}{% endblock %}
{% block content %}
    <div class="box">
        <h1 class="title has-text-weight-medium"><i class="fa-solid fa-arrow-left" style="cursor: pointer"
                             onclick="history.back()"></i> {{ patrol }}</h1>
        <h1 class="subtitle">{{ patrol.short_name }}</h1>
        <table class="table">
            {% for user in users.all %}
                <tr>
                    <td><a href="{% url 'teams:manage_user' user.id %}">{{ user.rank_nickname }}</a></td>
                </tr>
            {% endfor %}
        </table>
        {% if users.count == 0 %}
            <p>W tym zastępie nie ma żadnych harcerzy.</p>
        {% endif %}
    </div>
{% endblock %}
